.*~
Django_traning_exercise_files/*.pyc
Django_traning_exercise_files/*.py~
Django_traning_exercise_files/Django_traning_exercise_files/*.pyc
Django_traning_exercise_files/template/*.html~
Django_traning_exercise_files/article/*.pyc
Django_traning_exercise_files/article/*.py~
Django_traning_exercise_files/article/temlpate*.html~
